---
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

interface Clients {
  title: string;
  list: string[];
}

let { title, list }: Clients = (await getEntry("sections", "clients")).data;
---

{
  (
    <section class="section-md bg-theme-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-12" data-aos="fade-up-sm">
            <p
              class="w-full font-semibold text-md text-center"
              set:html={markdownify(title)}
            />
          </div>
          <div class="col-12 pt-10" data-aos="fade-up-sm" data-aos-delay="200">
            <div class="relative flex gap-x-10 overflow-hidden before:pointer-events-none before:absolute before:left-0 before:z-10 before:h-full before:w-20 before:bg-gradient-to-r before:from-theme-dark before:to-transparent before:content-[''] after:pointer-events-none after:absolute after:right-0 after:h-full after:w-20 after:bg-gradient-to-r after:from-transparent after:to-theme-dark after:content-[''] md:gap-x-20 before:md:w-40 after:md:w-40">
              <div class="marquee flex shrink-0 items-center justify-center gap-x-10 gap-y-6 opacity-80 md:gap-x-20">
                {list?.map((logo) => (
                  <div class="h-12">
                    <img
                      src={logo}
                      alt="brand logo"
                      loading="lazy"
                      class="h-full object-contain"
                    />
                  </div>
                ))}
              </div>
              <div
                class="marquee flex shrink-0 items-center justify-center gap-x-10 gap-y-6 opacity-80 md:gap-x-20"
                aria-hidden="true">
                {list?.map((logo) => (
                  <div class="h-12">
                    <img
                      src={logo}
                      alt="brand logo"
                      loading="lazy"
                      class="h-full object-contain"
                    />
                  </div>
                ))}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
